body {
    font-family: 'Roboto';
    font-style: normal;
}

* {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #212121;
}

.menu,
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.menu a:hover,
.contacts a:hover {
    color: #2196F3;
}

.contacts a {
    color: #757575;
}

.webstudio-up {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #2F303A;
}

button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    color: #FFFFFF;
    background: #2196F3;
    border: none;
    cursor: pointer;
    font-family: inherit
}

.lorem-ipsum>li {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
}

ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

h2,
h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
}

.John-Doe {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
}

footer {
    background: #2F303A;
}

.webstudio-down a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF
}

footer ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.contacts-email a,
.contacts-telephone a {
    color: rgba(255, 255, 255, 0.6);
}

.button button{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
}
.button button:hover {
    background: #2196F3;
    color: #FFFFFF;
}

h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #212121;
}
.picture-title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}