:root {
    --pure-white: #FFFFFF;
    --white: #F5F4FA;
    --grey-dark: #212121;
    --grey: #757575;
    --hover: #2196F3;
}

body {
    font-family: 'Roboto', 'Relaway', sans-serif;
    font-style: normal;
    background: #FFFFFF;
}

* {
    list-style-type: none;
}

.nasz-zespół {
    background: var(--white);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--grey-dark);
}

.menu a,
.contacts a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.menu a:hover,
.contacts a:hover {
    color: var(--hover);
}

.contacts a {
    color: var(--grey);
}

.webstudio-up {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--pure-white);
    background: #2F303A;
}

.main-title button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    color: var(--pure-white);
    background: var(--hover);
    border: none;
    cursor: pointer;
    font-family: inherit;
}
.button button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--grey-dark);
    background: var(--white);
    border-radius: 4px;
    font-family: inherit;
    border: none;
}

.button button:hover {
    background: var(--hover);
    color: var(--pure-white);
}

.lorem-ipsum h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--grey-dark);
}

.lorem-ipsum p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--grey);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--grey-dark);
}

.John-Doe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--grey-dark);
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--grey);
}

.footer {
    background: #2F303A;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--pure-white);
    font-family: inherit;
}

.webstudio-down a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--pure-white);
}

.contacts-email a,
.contacts-telephone a {
    color: rgba(255, 255, 255, 0.6);
}

.picture-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--grey-dark);
}
.picture-title-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--grey);
}